
<div class="row">
	<div dojoAttachPoint="domNode">
		<div class="bratiliusPaginatorlist">
			<span>Records Per Page</span>
			<div class="dropdown action-dropdown">
				<a data-toggle="dropdown">10<i class="glyph-icon icon-chevron-down"></i></a>
			
				<div class="dropdown-menu float-right">
					<span tabindex="0" aria-controls="dynamic-table-example-1"	 style="display: block;" dojoAttachEvent="ondijitclick:click10">10 </span>
					<span tabindex="0" aria-controls="dynamic-table-example-1"	style="display: block;" dojoAttachEvent="ondijitclick:click20">20 </span>
					<span tabindex="0" aria-controls="dynamic-table-example-1"	style="display: block;" dojoAttachEvent="ondijitclick:click50">50 </span>
					<span tabindex="0" aria-controls="dynamic-table-example-1"	style="display: block;" dojoAttachEvent="ondijitclick:click100">100 </span>
				</div>
  			</div>
		
		</div>
	</div>
</div>

