<div class="dijit dijitInlineTable dijitLeft gingerImage" 
	id="widget_${id}" 
	dojoAttachPoint="domNode,containerNode" style="width:200px">
	<div class="imagePreview" dojoAttachPoint="imageNode" style="float:left;">
		<img src="${previewSrc}" id="${id}_preview" width="${width}" height="${height}"/>
	</div>
	<input type="hidden" name="${name}_name" value="${value}"/>
	<div class="dijitReset dijitInputField" style="float:left;margin-left:20px"><input type="file" name="${name}" id="${id}" value="${value}"/></div>
	<div style="clear:both"></div>
</div>
