<table dojoAttachPoint="domNode" cellpadding="10" cellspacing="10" class="paginator">
	<tr>
		<td class="prev" style="visibility: hidden" dojoAttachPoint="prevNode" dojoAttachEvent="onmouseover:_onMouseOver, onmouseout:_onMouseOut, ondijitclick:prevClick">Prev</td>
		<td><span dojoAttachPoint="containerNode" style="${style}"></span>
		</td>
		<td class="next" style="visibility: hidden;" dojoAttachPoint="nextNode" dojoAttachEvent="onmouseover:_onMouseOver, onmouseout:_onMouseOut, ondijitclick:nextClick">Next</td>
	</tr>
</table>