<div dojoAttachPoint="domNode" style="height: 100px;">
<!-- Header -->
<div style='width: 100%; text-align: left;'>
	<span>${caption}</span>
	<span>+ Add</span>
	<span>Search block</span>
</div>
<!-- Thumbnail component -->
<div dojoType='ginger.ThumbnailPicker' style='width: 100%'
	 controller     = '${controller}'
	 idColumnIndex  = '${idColumnIndex}'
	 id 		    = '${id}' 
	 jsid 		    = '${id}'
	 maxRows 	    = '${maxRows}'
	 detailedDialog = '${detailedDialog}'
	 detailedView   = '${detailedView}'>
</div>