<div class="row">
	<div dojoAttachPoint="domNode">
		<div class="bratiliusPaginator">
			<span tabindex="0" class="page first" dojoAttachPoint="firstNode" dojoAttachEvent="ondijitclick:firstClick"> &#60;&#60;</span>
			<span tabindex="0" class="page previous" dojoAttachPoint="prevNode" dojoAttachEvent="ondijitclick:prevClick"> &#60;</span>
			<span class="pagination" dojoAttachPoint="containerNode"></span>
			<span tabindex="0" class="page next" dojoAttachPoint="nextNode" dojoAttachEvent="ondijitclick:nextClick"> &#62;</span>
			<span tabindex="0" class="page last" dojoAttachPoint="lastNode" dojoAttachEvent="ondijitclick:lastClick"> &#62;&#62;</span>
		</div>
	</div>
</div>	